.square {
    height: 150px;
    width: 150px;
    background-color: grey;
    display: inline-block;
}

.square-no-height {
    background-color: grey;
    display: inline-block;
}

.white{
    background-color: white;
}