.square {
    height: 200px;
    width: 200px;
    background-color: grey;
    display: inline-block;
    margin-bottom: -4px;
}

.square-no-height {
    background-color: grey;
    display: inline-block;
    margin-bottom: -4px;
}

.white{
    background-color: white;
}